$primary-font: 'Orienta', sans-serif;
$secondary-font: 'Libre Caslon Text', serif;

body {
  font-family: $primary-font;
}
h1, h2, h3, h4, h5, h6 {
  font-family: $secondary-font;
  font-weight: bold;
  text-transform: uppercase;
}

h1, h2 {
  font-size: 4rem;
  letter-spacing: 1px;
  margin-bottom: 3rem;
}

p {
  line-height: 1.6;
}

.text-center {
  text-align: center;
}

.mb-3 {
  margin-bottom: 3rem;
}

@media screen and (max-width: 34.375rem) {
    h1, h2 {
        font-size: 2.5rem;
    }
}
