/node_modules
/.idea
public/frontend/css/app.css
public/frontend/js/app.js
public/backend/css/app.css
public/backend/js/app.js
public/frontend/img/photos
/public/hot
/public/storage
/storage/*.key
/vendor
/laradock
.idea
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
